{% extends "Base.html" %}

{% load static %}  



{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'SlackCss/ChatSend.css' %}">
{% endblock %}

{% block content %}
<body>
    <div id="app">
        <div class="text-center">
        <transition name="custom-classes-transition"
                    mode="out-in"
                    enter-active-class="animated bounceInDown"
                    leave-active-class="animated fadeOutUpBig" >
        <div key="Page1" v-if="Pagenation" >
            {% if error %}{{ error }}{% endif %}
                <a>Please enter the text</a>
                <a>{% if user.is_authenticated %}</a>
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <textarea name="text" cols="100" rows="10"></textarea><br>
                    <p>picture: <input type="file" name="image"></p>
                    <input type="button" value="coution" class="alert alert-light" role="alert" @click="ChangePagenation">
                    <input type="submit" value="Send">
                </form>
            
            {% else %}
                <p>ログインしていません</p>
            {% endif %}
        </div>
        <div key="page2" v-else class="CoutionMessage">
           <p>利用規約</p>
           <p>これはポートフォリオなので不定期に投稿を削除することがあります。
           ご了承ください。</p>
           <p>又、このサイトで何かしらトラブルがあった場合は私は一切の責任を背負いません。</p>
           <input type="button" value="coution" class="alert alert-light" role="alert" @click="ChangePagenation">
        </div>
        </trainsition>
        </div>
    </div>
</body>

{% endblock %}

{% block links %}

<script>
  var app = new Vue({
    el: '#app',
    delimiters: ['[|[', ']|]'],
    data: {
      Pagenation: true,
    },
    methods:{
        ChangePagenation(){
            console.log(this.pagenation)
            this.Pagenation = !this.Pagenation
        },
    },
  })
</script>
{% endblock %}
